
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,100&display=swap');

body{
    background-color: #151515;
    font-family: Poppins, Helvetica, sans-serif;
    overflow: hidden;
    font-style: #EEEAEAFF;
    color: lightgray;

}

.area-cadastro{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    width: 550px;
    height: 470px;
    padding: 35px;
    border-radius: 10px;
    font-size: 20px;

}


.dados input label{
    margin-top: 10px;
    background-color: #c5c3c3;
    padding-left: 10px;
    color: #000000;
    height: 25px;
    outline: none;
    border-radius: 6px;

}

.cadastro img{
    width: 200px;
    height: auto;
}

.dados form{
    display: flex;
    width: 50%;
    flex-direction: column;
}

input::placeholder{
    color: #6b6a6a;
    font-size: 13px;

}

main form label{
    display: flex;
    flex-direction: column;
}

form [type="submit"]{
    display: block;
    background-color: #6b6a6a;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

a{
    color: gray;
    text-decoration: none;
}